
.student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
}
.home-line {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 10px 0;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* padding:0px 6%; */
    background-color: white;
}
.space-both {
    padding: 0px;
}