.serviceContainer{
    width: 100%;
    padding: 20px;
}
.serviceCard {
    width: 150px;
    height: 50px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
    border-radius: 10px;
}

.serviceCard p {
    font-size: 16px;
    color: #f9f9fa;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}


.serviceContainer button {
    background-color: #2596be; /* Green background */
    border: 1px solid rgb(5, 59, 87); /* Green border */
    color: white; /* White text */
    font-size: 16px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    margin-top: 0px;
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 10px;
  }
  
  .serviceContainer button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .serviceContainer:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .serviceContainer button:hover {
    background-color: #1e5a7b;
  }


